<nav class="navbar navbar-expand-lg navbar-light bg-light" [class.active]="classApplied" ngStickyNav stickyClass="sticky-box-shadow" ngStickyNav>
    <div class="container">
        <a class="navbar-brand" routerLink="/"><span>X</span>Digital</a>
        <button class="navbar-toggler" type="button" (click)="toggleClass()">
            <span class="burger-menu">
                <span class="top-bar"></span>
                <span class="middle-bar"></span>
                <span class="bottom-bar"></span>
            </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><span class="nav-link" routerLink="/home">Home</span></li>
                <li class="nav-item"><span class="nav-link" routerLink="/registro">Registro</span></li>
                <li class="nav-item"><span class="nav-link" routerLink="onClick('home')">Noticias</span></li>

            </ul>
            <ul class="navbar-nav ml-auto for-responsive">
                <li class="nav-item"><span class="nav-link" (click)="toggleClass(); onClick('home')">Home</span></li>
                <li class="nav-item"><span class="nav-link" (click)="toggleClass(); onClick('Contact')">Registro</span></li>
                <li class="nav-item"><span class="nav-link" (click)="toggleClass(); onClick('blog')">Noticias</span></li>

            </ul>
        </div>
    </div>
</nav>
