<div id="Contact" class="Contact-area ptb-100 bg-F7F5F4">
    <div class="container">
        <div class="section-title">
            <h4>Queremos saber de ti</h4>
            <h2><span>Contáctenos</span> </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="row">
            <div class="col-lg-7 col-md-12">
                <div class="Contact-form">
                    <form>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group mb-3" [formGroup]="formRegister">
                                    <label>Nombre</label>
                                    <input required class="form-control" id="name" formControlName="name" type="text" (input)="handleForm($event)" value="{{formRegister.get('name').value}}">
                                    <div class="alert alert-danger" *ngIf="submit && formControl.name.errors">
                                        <div *ngIf="formControl.name.errors.required">Name is required.</div>
                                        <div *ngIf="formControl.name.errors.pattern">Name is character.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group mb-3" [formGroup]="formRegister">
                                    <label>Apellido</label>
                                    <input id="family_name" formControlName="family_name" type="text" (input)="handleForm($event)" value="{{formRegister.get('family_name').value}}" class="form-control">
                                    <div class="alert alert-danger" *ngIf="submit && formControl.family_name.errors">
                                        <div *ngIf="formControl.family_name.errors.required">Last name is required.</div>
                                        <div *ngIf="formControl.family_name.errors.pattern">Last name is character.</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6">
                                <div class="form-group mb-3" [formGroup]="formRegister">
                                    <label>Email</label>
                                    <input class="form-control" id="email" formControlName="email" type="text" (input)="handleForm($event)" value="{{formRegister.get('email').value}}">
                                    <div class="alert alert-danger" *ngIf="submit && formControl.email.errors && formControl.email.errors?.pattern">Email Address is invalid.</div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group mb-3" [formGroup]="formRegister">
                                    <label>Teléfono</label>
                                    <input id="phone" formControlName="phone" type="text" (input)="handleForm($event)" class="form-control" value="{{formRegister.get('phone').value}}">
                                    <div class="alert alert-danger" *ngIf="submit && formControl.phone.errors ">
                                        <div *ngIf="formControl.phone.errors.pattern">Phone is number</div>
                                        <div *ngIf="formControl.phone.errors.maxlength">Phone is max length 10</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group mb-3" [formGroup]="formRegister">
                                    <label>Programa de interes</label>
                                    <select id="program" formControlName="program" (input)="handleForm($event)" value="{{formRegister.get('program').value}}">
                                        <option value="0">Seleccione un programa</option>
                                        <option *ngFor="let item of listProgram" value="{{item.id}}">{{item.name}}</option>
                                    </select>
                                    <div class="alert alert-danger" *ngIf="submit && formControl.program.errors && formControl.program.errors?.required">Program is required.</div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group mb-3" [formGroup]="formRegister">
                                    <label>Comentario</label>
                                    <textarea id="comment" formControlName="comment" (input)="handleForm($event)" value="{{formRegister.get('comment').value}}" cols="30" rows="4" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <button type="button" (click)="saveRegister()" class="btn btn-primary" [class.disabled]="formRegister.errors">Enviar Mensaje</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-5 col-md-12">
                <div class="Contact-info">
                    <div class="d-table">
                        <div class="d-table-cell">
                            <ul>
                                <li><i class="fas fa-map-marker-alt"></i> <span>Bogotá:</span>Zona-Norte</li>
                                <li><i class="far fa-envelope"></i> <a href="mailto:hello@xavro.com"><span>Email:</span>bogota@xdigital.com</a></li>
                                <li><i class="fas fa-phone-alt"></i> <a href="tel:1244122445515"><span>Teléfono:</span>3587461154</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

