<div class="subscribe-area ptb-100">
    <div class="container">
        <div class="newsletter">
            <h2>Registrate a nuestros Newsletter</h2>
            <form class="newsletter-form">
                <input type="email" class="form-control" placeholder="Ingresa tu email">
                <button class="btn btn-primary" type="submit">Suscribete</button>
            </form>
        </div>
    </div>
</div>
