<div id="blog" class="blog-area ptb-100">
    <div class="container">
        <div class="section-title">
            <h4>Nuestras noticias</h4>
            <h2>Últimas <span>publicaciones de blog</span></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="blog-slides">
            <owl-carousel-o [options]="blogSlides" *ngIf="listNews.length > 0">
                <ng-template carouselSlide *ngFor="let item of listNews">
                    <div class="single-blog-item">
                        <span>{{item.title}}</span>
                        <h3><a routerLink="/noticias/{{item.id}}">Mas información</a></h3>
                        <p>{{item.body}}</p>
                        <a routerLink="/noticias/{{item.id}}" title="Read More" class="link-btn"><i class="fas fa-arrow-right"></i></a>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>
