<div class="main-banner item-bg-one">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="main-banner-text">
                    <h4>Generando nuevas experiencias</h4>
                    <h1>Bogotá  <span>Colombia</span> </h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br> labore et dolore magna aliqua.</p>
                    <a routerLink="/registro" class="btn btn-primary">Regístrate</a>
                    <!--<a (click)="" class="btn btn-primary view-work">Ver noticias</a>-->
                </div>
            </div>
        </div>
    </div>
</div>
<app-blog></app-blog>
