<footer class="footer-area">
    <div class="container">
        <h3><a routerLink="/"><span>X</span>Digital</a></h3>
        <ul>
            <li><a href="#" target="_blank" class="fab fa-facebook-f"></a></li>
            <li><a href="#" target="_blank" class="fab fa-linkedin-in"></a></li>
            <li><a href="#" target="_blank" class="fab fa-instagram"></a></li>

        </ul>
        <p>Copyright <i class="far fa-copyright"></i>2021 Bogotá.</p>
    </div>
</footer>


<ngx-scrolltop></ngx-scrolltop>
